{require_otp_vsn, "R15B.*|R16B.*"}.

{erl_opts, [
	verbose,
	bin_opt_info,
	fail_on_warning,
	debug_info,
	{parse_transform, lager_transform}
]}.

{sub_dirs, ["apps/*", "rel"]}.

{lib_dirs,["../deps/*/include", "../deps"]}.

{deps_dir,["deps"]}.

{deps, [
	{lager, ".*", {git, "https://github.com/basho/lager.git", "HEAD"}},
	{n2o, ".*", {git, "https://github.com/5HT/n2o.git", "HEAD"}},
	{n2o_scripts, ".*", {git, "https://github.com/voxoz/n2o_scripts.git", "HEAD"}},
	{gproc, ".*", {git, "https://github.com/uwiger/gproc.git", "HEAD"}},
	{exec, ".*", {git, "https://github.com/saleyn/erlexec.git", "HEAD"}},
	{simple_bridge, ".*", {git, "https://github.com/nitrogen/simple_bridge.git", "HEAD"}},
	{erlpass, ".*", {git, "https://github.com/ferd/erlpass.git", "HEAD"}},
	{eleveldb, ".*", {git, "https://github.com/basho/eleveldb.git", "HEAD"}},
	{erlcron, ".*", {git, "https://github.com/erlware/erlcron.git", "HEAD"}},
	{sync, ".*", {git, "https://github.com/rustyio/sync.git", "HEAD"}}
]}.

{erlydtl_opts, [
	{doc_root,   "priv/templates"},
	{out_dir,    "ebin"},
	{source_ext, ".html"},
	{module_ext, "_view"}
]}.
